*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-size: 18px;
    font-family: Josefin Sans;
}
.header{
    width:100%;
    height: 35vh;
}
.header > .image{
    width: inherit;
    height: inherit;
}
.header > .image img{
    width:100%;
    height:100%;
}
.todoCont{
    position:absolute;
    top:5%;
    width:100%;
    padding:2em;    
    display:flex;
    justify-content: center;
    align-items: center;
}
.todoCont > .todo{
    flex: 0 1 26em;
}
.todo > .todoHead{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 5em;    
    color:hsl(0, 0%, 98%);
    font-size: 0.8rem;
    letter-spacing: 10px;    
}
.todo > .todoHead h1{
    font-family:"Arial";
}
.todo > .todoHead > .mode{
    width: 4em;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;    
}
.todo > .todoHead > .mode:hover{
    cursor:pointer;
}
.todo > .createTodo{
    width:100%;
    padding:0.8em 1em 0.8em 1em;   
    border-radius: 0.4em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.createTodo > .select{
    width:1.3em;
    height: 1.3em;
    border-radius: 1.3em;
    border:1px solid hsl(233, 14%, 35%);
}
.createTodo > .select:hover{
    cursor: pointer;
}
.createTodo input{
    width:80%;
    padding:0.5em 0em 0.5em 1em;
    background: transparent;
    outline:none;
    border: none;    
}
.createTodo .addItem:hover{
    cursor:pointer;
}
.todo > .listCont{
    width:100%;
    display: flex;
    flex-direction: column-reverse;  
    justify-content: flex-start;  
    align-items: center;
    gap:0.08em;
    background: hsl(233, 14%, 35%);
    margin-top:1.5em;
    border-radius: 0.2em;
    border-bottom: 1px solid hsl(233, 14%, 35%);
}
.todoL{
    width:100%;
    padding:0.8em 1em 0.8em 1em;   
    border-radius: 0.2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.todoL > .select{
    width:1.3em;
    height: 1.3em;
    border-radius: 1.3em;
    border:1px solid hsl(233, 14%, 35%);
}
.todoL h1{
    width:80%;
    font-size: 1rem;
}
.todoL > .remove{
    display: flex;
    justify-content: flex-end;
}
.todoL > .remove:hover{
    cursor:pointer;
}
.baseD{
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:0.8em 1em 0.8em 1em;
    font-size: 0.8rem;
    color:hsl(233, 14%, 35%);    
}
.baseD > .status{
    margin-top: 0em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:35%;    
}
.baseD > .status p:hover{
    cursor:pointer;
    font-weight: 400;
    color:hsl(220, 98%, 61%);
}
.baseM{
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:0.8em 1em 0.8em 1em;
    font-size: 0.8rem;
    color:hsl(233, 14%, 35%);
    background: hsl(235, 24%, 19%);
}
.status{
    margin-top: 1.5em;
    display: flex;
    justify-content: space-between;
    width:100%;    
    padding:0.8em 1em 0.8em 1em;
    font-size: 0.8rem;
    color:hsl(233, 14%, 35%);
    border-radius: 0.4em;
}
.status p:hover{
    cursor:pointer;
    font-weight: 400;
    color:hsl(220, 98%, 61%);
}
.clCompl p:hover{
    color:hsl(220, 98%, 61%);
    font-weight: 700;
    cursor:pointer;
}
.statement{
    margin-top: 3em;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color:hsl(233, 14%, 35%);
    font-size: 0.8rem;
}
.footer{
    width:100%;
    height: 65vh;
}